
{% extends 'base.html' %}

{% block conteudo %}

<div class="HL">
    <h1>DESCRIÇÃO DOS ARTISTAS</h1>

    <table class="tabela-musicas">
        <thead>
            <tr>
                <th>nome</th>
                <th>biografia</th>

            </tr>
        </thead>

        <tbody>
            {% for exibir_detalhes_artistas in exibir_detalhes_artistas %}
            <tr>
                <td>{{ artistas.nome }}</td><br>
                <td>{{ artistas.biografia }}</td><br>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/cadastro_artista">Cadastrar um Novo Artista</a>
</div>

{% endblock conteudo %}
