{% extends 'base.html' %}

{% block conteudo %}

<div class="artista-detalhe">

    <div class="bio-container">

        <img class="artista-foto" src="{{ artista.foto }}" alt="{{ artista.nome }}">

        <h1>{{ artista.nome }}</h1>

        <p class="texto-bio">
            {{ artista.descricao }}
        </p>
        {% for musica in musicas %}
            {{ musica.titulo }}
            {{ musica.id_artista }}
            {{ musica.genero }}
            {{ musica.duracao }}
            {{ musica.data_de_lancamento.strftime('%d/%m/%Y') }}

        <a href="/artistas" class="voltar">Voltar</a>
    </div>

</div>

{% endblock conteudo %}
