{% extends 'base.html' %}

{% block conteudo %}

<div class="HL">
    <h1>PLAYLISTS EXISTENTES</h1>

    <table class="tabela-musicas">
        <thead>
            <tr>
                <th>nome da playlist</th>
                <th>id_usuario</th>
                <th>nome</th>
                <th>descricao</th>
                <th>data_criacao</th>

            </tr>
        </thead>

        <tbody>
            {% for p, u in playlists %}
            <tr>
                <td>{{ p.nome }}</td>
                <td>{{ p.id_usuario }}</td>
                <td>{{ u.nome }}</td>
                <td>{{ p.descricao }}</td>
                <td>{{ p.data_criacao.strftime('%d/%m/%Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/criar_playlist">Criar outra playlist</a>
</div>

{% endblock %}